<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/public/css/admin.css">
</head>

<body onload="showMessage()">
  
  <header>
    <nav class="navScroll">
      <a href="#" class="navBranding"><span class="_span">.</span>Bem vindo, <%= existingUser.username %></a>
      <ul class="navMenu">
        <li class="navItem"><a href="/" class="navLink">HomePage</a></li>
        <li class="navItem"><a href="/books/addBook" class="navLink">Adicionar um Livro</a></li>
        <button class="navItem"><a href="/logout" class="navLink">Logout</a></button>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Lista de Livros</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Título</th>
          <th scope="col">Autor</th>
          <th scope="col">Preço</th>
          <th scope="col">Quantidade</th>
        </tr>
      </thead>
      <tbody>
      <% books.forEach((book) => { %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.price %>€</td>
          <td><%= book.quantity %></td>
              <form action="/books/detalhesLivro/<%= book._id %>" method="get">
                <td class="editButton" ><a class="verMaisLivro">Ver/Editar</a></td>
              </form>
              <form action="/books/delete/<%= book._id %>" method="post">
                <td class="deleteButton"><a class="verMaisLivro">Apagar</a></td>
              </form>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <script>
      function showMessage() {
        <% if (typeof message !== 'undefined' && message !== null) { %>
      alert('<%= message %>');
        <% } %>
      } 
    </script>
  </main>
</body>
</html>

